@font-face {
  font-family: Amazon-Ember-Regular;
  src: url(../Amazon-Ember-Regular/Amazon-Ember-Regular.ttf);
}

:root {
  --searchbar-color: #febd69;
  --searchicon-color: #393735;
  --grey: #838383;
  --white: #f3f3f3;
  --white-text: #fbfbfc;
  --text-blue: #0071a5;
  --hover-orange: #ffa14c;
  --price-color: #b12704;
  --text-green: #297800;
  --text-primary: #ffffff;
  --text-grey: #565e53;
  --button-grey: #eaecef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container {
  font-family: Amazon-Ember-Regular;
}

/* ---------- Upper bar********** */

.upper-bar {
  display: flex;
  border: 1px solid black;
  height: 60px;
  background: #131921;
}

/* logo */

.upper-bar .logo {
  width: 120px;
  margin-left: 10px;
  height: 90%;
  background: url(../images/logo.JPG);
  align-self: center;
}

.upper-bar .logo:hover {
  border: 1.5px solid white;
}

/*  Deliver to */

.upper-bar .deliver-to {
  display: flex;
  width: 80px;
  height: 90%;
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 10px;
  align-self: center;
}
.upper-bar .deliver-to .fa {
  display: inline-block;
  color: white;
  font-size: 25px;
  margin-top: 9px;
  margin-right: 5px;
}
.upper-bar .deliver-to p {
  color: #fbfbfc;
  font-size: 14px;
}
.upper-bar .deliver-to p span {
  color: #b9babb;
  font-size: 12px;
}

.upper-bar .deliver-to:hover {
  border: 1.5px solid white;
}

/* ---------- Search bar */

/*  departments dropdown */

.upper-bar .departments-dropdown {
  width: 55px;
  height: 40px;
  margin-left: 30px;
  border: 0.5px solid #838383;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 13px;
  padding: 10px;
  background: #f3f3f3;
  color: #838383;
  align-self: center;
}

/* Search search bar */

.upper-bar .search-bar {
  width: 1150px;
  height: 40px;
  align-self: center;
}
.upper-bar .search-bar .search-field {
  width: 100%;
  height: 100%;
  outline: none;
}

.upper-bar .search-bar .search-field:focus {
  border: var(--searchbar-color) 3px solid;
}

/* search button */

.upper-bar .search-button {
  width: 45px;
  height: 40px;
  align-self: center;
  padding: 8px;
  font-size: 20px;
  background: var(--searchbar-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*  Choose Language */

.upper-bar .language-dropdown {
  display: flex;
  width: 60px;
  height: 100%;
  color: var(--grey);
  padding: 24px 20px 16px 10px;
  margin-left: 25px;
  font-size: 12px;
}

.upper-bar .language-dropdown .triangle {
  padding-top: 3px;
  padding-left: 3px;
}

.upper-bar .language-dropdown:hover {
  border: 1.5px solid white;
}

/*  account list */

.upper-bar .accountList {
  width: 125px;
  height: 100%;
  color: var(--white-text);
  padding: 14px;
  margin-left: 10px;
  font-size: 12px;
}

.upper-bar .accountList span {
  font-size: 12px;
  font-weight: bolder;
}

.upper-bar .accountList:hover {
  border: 1.5px solid white;
}

/*    Return Orders */

.upper-bar .returnOrders {
  width: 75px;
  height: 100%;
  color: var(--white-text);
  padding: 13px 5px;
  font-size: 12px;
  margin-left: 10px;
}

.upper-bar .returnOrders span {
  font-size: 14px;
  font-weight: bolder;
}

.upper-bar .returnOrders:hover {
  border: 1.5px solid white;
}

/*    Cart    */
.upper-bar .cart {
  display: flex;
  width: 90px;
  height: 100%;
  color: var(--white-text);
  margin-right: 10px;
  margin-left: 10px;
  justify-content: right;
}

.upper-bar .cart:hover {
  border: 1.5px solid white;
}

.upper-bar .cart img {
  align-self: center;
  padding-left: 10px;
}

.upper-bar .cart .cart-text {
  padding-top: 26px;
  padding-right: 20px;
  font-weight: bolder;
}

/* ---------- Lower bar */

.lower-bar {
  width: 100%;
  display: inline-flexbox;
  height: 40px;
  background: #232f3e;
  padding: 5px;
}

.lower-bar .menu {
  display: inline-flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
}
.lower-bar .menu .menu-items li {
  color: var(--white-text);
  display: inline-block;
  list-style: none;
  padding: 00 10px;
}

.lower-bar .menu .menu-items li span {
  font-size: 18px;
}

.lower-bar .menu .menu-items li:hover {
  border: 1.5px solid white;
}

.lower-bar .covid {
  color: var(--white-text);
  padding: 5px;
}

.lower-bar .menu .covid:hover {
  border: 1.5px solid white;
}

/* Breadcrums */

.breadcrumbs-block {
  height: 25px;
  margin: 0 220px;
}

.breadcrumbs-items {
  display: inline-block;
  list-style: none;
  font-size: 12px;
  color: var(--grey);
}

.breadcrumbs-items:hover {
  text-decoration: underline;
}

/* ----------- Product Block ------------------*/
.product-block {
  display: flex;
  height: 110vh;
  margin: 0 220px;
  border-bottom: 2px solid whitesmoke;
}

/* Thumbnails */

.product-block .thumbnails {
  height: 100%;
  width: 3%;
  padding-top: 20px;
}

.product-block .thumbnails img {
  border: 0.5px solid var(--grey);
}

.product-block .thumbnails img:hover {
  border: 2px solid #f4c69a;
}

/* Main images */

.product-block .main-image {
  height: 80%;
  width: 45%;
  background: url(../images/medium/1.jpg) no-repeat center;
}

/* description block */

.product-block .product-description {
  height: 100%;
  width: 35%;
}

.product-block .product-description .main-text {
  font-size: 25px;
  padding-top: 20px;

  border-bottom: 1px solid whitesmoke;
}

.product-block .product-description .store {
  font-size: 14px;
  height: 20px;
}

.product-block .product-description .store a {
  text-decoration: none;
  color: var(--text-blue);
  padding-top: 20px;
}

.product-block .product-description .store a:hover {
  color: var(--hover-orange);
  text-decoration: underline;
}

.product-block .product-description .product-rating {
  font-size: 20px;
  height: 30px;
}

.product-block .product-description .product-rating p {
  color: var(--hover-orange);
}
.product-block .product-description .product-rating #down-symbol {
  color: var(--text-blue);
  font-size: 10px;
  padding-left: 5px;
}
.product-block .product-description .product-rating span {
  color: var(--text-blue);
}
.product-block .product-description .product-rating a {
  color: var(--text-blue);
  font-size: 14px;
  padding: 0 15px;
  text-decoration: none;
}

.product-block .product-description .product-rating a:hover {
  color: var(--hover-orange);
  text-decoration: underline;
}

.product-block .product-description .price-block {
  display: grid;
  grid-template-columns: 15fr 85fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  font-size: 14px;
}

.product-block .product-description .price-block .price-left {
  text-align: right;
  padding-right: 5px;
  padding-top: 3px;
}

.product-block .product-description .price-block .price-right .line1 {
  text-decoration: line-through;
}

.product-block .product-description .price-block .price-left .line2 {
  color: var(--price-color);
}
.product-block .product-description .price-block .price-left .line3 {
  height: 42px;
}
.product-block .product-description .price-block .price-right .line2 span {
  font-size: 20px;
  color: var(--price-color);
}
.product-block .product-description .price-block .price-right .line4 {
  color: var(--price-color);
}
.product-block .product-description .price-block .price-right .line5 a {
  color: var(--text-green);
  text-decoration: none;
}

.product-block .product-description .price-block .price-right .line5 a:hover {
  color: var(--hover-orange);
}
.product-block .product-description .price-block .price-right .line5 span {
  color: var(--text-blue);
}

/* Color options */

.product-block .product-description .options-block .product-color {
  padding: 5px;
  content: attr(text);
}
.product-block .product-description .options-block img {
  padding: 5px;
  border: 0.5px solid var(--grey);
  transform: scale(0.8);
}

.product-block .product-description .compatibility-block {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  font-size: 14px;
  border-bottom: 1.5px solid whitesmoke;
}

.product-block .product-description .compatibility-block .compatibility-left p {
  font-weight: bold;
}

.product-block
  .product-description
  .compatibility-block
  .compatibility-left
  .line2 {
  padding-top: 18px;
}

.product-block .product-description .about-item {
  padding-right: 10px;
}

/* Side-bar */
.product-block .sidebar-area {
  /* border: 1px solid black; */
  height: 100%;
  width: 17%;
}

.product-block .sidebar-area .side-bar {
  margin-top: 25px;
  height: 580px;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  padding-left: 20px;
}

.product-block .sidebar-area .side-price {
  padding-top: 15px;
  color: var(--price-color);
  font-size: 20px;
}

.product-block .sidebar-area .import-text {
  padding-right: 20px;
  font-size: 15px;
}

.product-block .sidebar-area .side-details a {
  color: var(--text-green);
  font-size: 15px;
  text-decoration: none;
}
.product-block .sidebar-area .side-details a:hover {
  color: var(--hover-orange);
}

.product-block .sidebar-area .arrives {
  font-size: 13px;
  padding: 20px 0;
}
.product-block .sidebar-area .arrives span {
  font-weight: bold;
}

.product-block .sidebar-area .stock-status {
  font-size: 20px;
  color: var(--text-green);
  padding: 10px 0;
}

.product-block .sidebar-area .quantity {
  border: 1px solid black;
  width: 60px;
  height: 20px;
  font-size: 12px;
  background: var(--button-grey);
  border-radius: 10px;
  text-align: center;
  padding: 3px;
}

.product-block .sidebar-area .add-to-cart {
  padding-top: 20px;
}

.product-block .sidebar-area .secure-transaction span {
  color: var(--text-green);
  font-size: 14px;
  padding-left: 20px;
}
.product-block .sidebar-area .shipping-info-block {
  display: flex;
  font-size: 12px;
  padding-top: 20px;
  color: var(--text-grey);
  padding-bottom: 10px;
  border-bottom: 1.5px solid whitesmoke;
}

.product-block .sidebar-area .shipping-info-block .shipping-info-right {
  padding-left: 10px;
}

.product-block .sidebar-area .gift-receipt-block {
  padding-top: 5px;
  font-size: 13px;
  border-bottom: 1.5px solid whitesmoke;
}
.product-block .sidebar-area .gift-receipt-block .line1 a {
  color: var(--text-green);
  text-decoration: none;
}

.product-block .sidebar-area .gift-receipt-block .line1 a:hover {
  color: var(--hover-orange);
}

.product-block .sidebar-area .gift-receipt-block .line2 {
  padding-top: 10px;
  font-size: 14px;
}

.product-block .sidebar-area .deliver-to-country {
  padding-top: 10px;
  border-bottom: 1.5px solid whitesmoke;
}
.product-block .sidebar-area .deliver-to-country span {
  font-size: 13px;
  padding-left: 10px;
  color: var(--text-green);
}

.product-block .sidebar-area button {
  width: 90%;
  height: 30px;
  margin-top: 7px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
}

.product-block .sidebar-area button:hover {
  background: var(--grey);
}

.product-block .sidebar-area .new-from {
  margin-top: 20px;
  height: 50px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 15px;
}

.product-block .sidebar-area .new-from span {
  color: var(--price-color);
}

.product-block .sidebar-area .new-from a {
  text-decoration: none;
  color: black;
}

.product-block .sidebar-area .share {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.product-block .sidebar-area .share .share-text {
  padding-bottom: 5px;
  padding-right: 5px;
  font-size: 14px;
}

.product-block .sidebar-area .share .share-text a {
  text-decoration: none;
  color: var(--text-blue);
}

.product-block .sidebar-area .other-sellers {
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.product-block .sidebar-area .other-sellers .amazon-seller {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid whitesmoke;
}

.product-block .sidebar-area .other-sellers .seller-offer1 {
  height: 70px;
  border-bottom: 2px solid whitesmoke;
}
.product-block .sidebar-area .other-sellers .seller-offer2 {
  height: 70px;
}

.product-block .sidebar-area .side-bar-end {
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
}

.product-block .sidebar-area .side-bar-end button {
  width: 50%;
  text-align: center;
}

.other-sellers .seller-offer .offer-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--price-color);
  padding: 5px 0;
  padding-left: 10px;
}

.other-sellers .seller-offer .offer-price .cart a {
  border: 1px solid black;
  margin-right: 10px;
  font-size: 10px;
  padding: 5px 10px;
  background: #f5d891;
  border-radius: 5px;
  color: var(--text-grey);
  text-decoration: none;
}

.other-sellers .seller-offer .free-shipping {
  font-size: 13px;
  padding: 5px 0;
  padding-left: 10px;
}

.other-sellers .seller-offer .free-shipping span {
  font-weight: bold;
}

.other-sellers .seller-offer .offer-details {
  font-size: 13px;
  padding: 5px 0;
  padding-left: 10px;
}
.other-sellers .seller-offer .offer-details a {
  text-decoration: none;
  color: var(--text-green);
}

.other-sellers .seller-offer .offer-details a:hover {
  color: var(--hover-orange);
}
.other-sellers .seller-offer .offer-soldby {
  font-size: 13px;
  padding-left: 10px;
  border-bottom: 2px solid whitesmoke;
}

.other-sellers .seller-offer .offer-soldby span:hover {
  color: var(--hover-orange);
}
/* Carousel 1 */

.carousel-title {
  margin: 0 220px;
  padding: 20px 0;
  font-size: 18px;
  color: #d66600;
}
.carousel-4stars {
  display: grid;
  grid-template-columns: 5fr 12fr 12fr 12fr 12fr 12fr 12fr 12fr 5fr;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid whitesmoke;
  height: 350px;
  margin: 0 220px;
}

.carousel-4stars .carousel-prduct {
  border: 1px solid black;
  height: 350px;
}

.carousel-4stars .arrow-left {
  border: 0.5px solid grey;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  background: #ebedef;
  font-size: 20px;
  padding-top: 8px;
  padding-left: 12px;
}

.carousel-4stars .arrow-left a,
.carousel-4stars .arrow-right a {
  text-decoration: none;
}

.carousel-4stars .arrow-left:hover,
.carousel-4stars .arrow-right:hover {
  background: var(--grey);
}

.carousel-4stars .car1,
.carousel-4stars .car2,
.carousel-4stars .car3,
.carousel-4stars .car4,
.carousel-4stars .car5,
.carousel-4stars .car6,
.carousel-4stars .car7 {
  padding: 10px;
  height: 350px;
}

.carousel-4stars .arrow-right {
  border: 0.5px solid grey;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  margin-left: 60px;
  background: #ebedef;
  font-size: 20px;
  padding-top: 8px;
  padding-left: 15px;
}

.carousel-4stars .carousel-product a {
  font-size: 15px;
  text-decoration: none;
  color: var(--text-blue);
}

.carousel-4stars .carousel-product a:hover {
  text-decoration: underline;
  color: var(--hover-orange);
}

.carousel-4stars .carousel-product .car-rate {
  padding-top: 5px;
  font-size: 15px;
  text-align: left;
  color: var(--text-blue);
}

.carousel-4stars .carousel-product .car-item-price {
  color: var(--price-color);
  padding: 3px;
}
.carousel-related {
  /* border: 1px solid grey; */
  height: 350px;
  margin: 0 220px;
}
