@font-face {
  font-family: Amazon-Ember-Regular;
  src: url(../Amazon-Ember-Regular/Amazon-Ember-Regular.ttf);
}

:root {
  --searchbar-color: #febd69;
  --searchicon-color: #393735;
  --grey: #838383;
  --white: #f3f3f3;
  --white-text: #fbfbfc;
  --text-blue: #1e839f;
  --hover-orange: #ffa14c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container {
  font-family: Amazon-Ember-Regular;
}

/* ---------- Upper bar********** */

.upper-bar {
  display: flex;
  border: 1px solid black;
  height: 60px;
  background: #131921;
}

/* logo */

.upper-bar .logo {
  width: 120px;
  margin-left: 10px;
  height: 90%;
  background: url(../images/logo.JPG);
  align-self: center;
}

.upper-bar .logo:hover {
  border: 1.5px solid white;
}

/*  Deliver to */

.upper-bar .deliver-to {
  display: flex;
  width: 80px;
  height: 90%;
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 10px;
  align-self: center;
}
.upper-bar .deliver-to .fa {
  display: inline-block;
  color: white;
  font-size: 25px;
  margin-top: 9px;
  margin-right: 5px;
}
.upper-bar .deliver-to p {
  color: #fbfbfc;
  font-size: 14px;
}
.upper-bar .deliver-to p span {
  color: #b9babb;
  font-size: 12px;
}

.upper-bar .deliver-to:hover {
  border: 1.5px solid white;
}

/* ---------- Search bar */

/*  departments dropdown */

.upper-bar .departments-dropdown {
  width: 55px;
  height: 40px;
  margin-left: 30px;
  border: 0.5px solid #838383;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 13px;
  padding: 10px;
  background: #f3f3f3;
  color: #838383;
  align-self: center;
}

/* Search search bar */

.upper-bar .search-bar {
  width: 1150px;
  height: 40px;
  align-self: center;
}
.upper-bar .search-bar .search-field {
  width: 100%;
  height: 100%;
  outline: none;
}

.upper-bar .search-bar .search-field:focus {
  border: var(--searchbar-color) 3px solid;
}

/* search button */

.upper-bar .search-button {
  width: 45px;
  height: 40px;
  align-self: center;
  padding: 8px;
  font-size: 20px;
  background: var(--searchbar-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*  Choose Language */

.upper-bar .language-dropdown {
  display: flex;
  width: 60px;
  height: 100%;
  color: var(--grey);
  padding: 24px 20px 16px 10px;
  margin-left: 25px;
  font-size: 12px;
}

.upper-bar .language-dropdown .triangle {
  padding-top: 3px;
  padding-left: 3px;
}

.upper-bar .language-dropdown:hover {
  border: 1.5px solid white;
}

/*  account list */

.upper-bar .accountList {
  width: 125px;
  height: 100%;
  color: var(--white-text);
  padding: 14px;
  margin-left: 10px;
  font-size: 12px;
}

.upper-bar .accountList span {
  font-size: 12px;
  font-weight: bolder;
}

.upper-bar .accountList:hover {
  border: 1.5px solid white;
}

/*    Return Orders */

.upper-bar .returnOrders {
  width: 75px;
  height: 100%;
  color: var(--white-text);
  padding: 13px 5px;
  font-size: 12px;
  margin-left: 10px;
}

.upper-bar .returnOrders span {
  font-size: 14px;
  font-weight: bolder;
}

.upper-bar .returnOrders:hover {
  border: 1.5px solid white;
}

/*    Cart    */
.upper-bar .cart {
  display: flex;
  width: 90px;
  height: 100%;
  color: var(--white-text);
  margin-right: 10px;
  margin-left: 10px;
  justify-content: right;
}

.upper-bar .cart:hover {
  border: 1.5px solid white;
}

.upper-bar .cart img {
  align-self: center;
  padding-left: 10px;
}

.upper-bar .cart .cart-text {
  padding-top: 26px;
  padding-right: 20px;
  font-weight: bolder;
}

/* ---------- Lower bar */

.lower-bar {
  width: 100%;
  display: inline-flexbox;
  height: 40px;
  background: #232f3e;
  padding: 5px;
}

.lower-bar .menu {
  display: inline-flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
}
.lower-bar .menu .menu-items li {
  color: var(--white-text);
  display: inline-block;
  list-style: none;
  padding: 00 10px;
}

.lower-bar .menu .menu-items li span {
  font-size: 18px;
}

.lower-bar .menu .menu-items li:hover {
  border: 1.5px solid white;
}

.lower-bar .covid {
  color: var(--white-text);
  padding: 5px;
}

.lower-bar .menu .covid:hover {
  border: 1.5px solid white;
}

/* Breadcrums */

.breadcrumbs-block {
  height: 25px;
  margin: 0 220px;
}

.breadcrumbs-items {
  display: inline-block;
  list-style: none;
  font-size: 12px;
  color: var(--grey);
}

.breadcrumbs-items:hover {
  text-decoration: underline;
}

/* ----------- Product Block ------------------*/
.product-block {
  display: flex;

  height: 100vh;
  margin: 0 220px;
}

/* Thumbnails */

.product-block .thumbnails {
  height: 100%;
  width: 3%;
  padding-top: 20px;
}

.product-block .thumbnails img {
  border: 0.5px solid var(--grey);
}

.product-block .thumbnails img:hover {
  border: 2px solid #f4c69a;
}

/* Main images */

.product-block .main-image {
  height: 80%;
  width: 45%;
  background: url(../images/medium/1.jpg) no-repeat center;
}

/* description block */

.product-block .product-description {
  border: 1px solid black;
  height: 100%;
  width: 35%;
}

.product-block .product-description .main-text {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid whitesmoke;
}

.product-block .product-description .store {
  font-size: 14px;
  height: 20px;
}

.product-block .product-description .store a {
  text-decoration: none;
  color: var(--text-blue);
  padding-top: 20px;
}

.product-block .product-description .store a:hover {
  color: var(--hover-orange);
  text-decoration: underline;
}

.product-block .product-description .product-rating {
  font-size: 20px;
  height: 30px;
}

.product-block .product-description .product-rating p {
  color: var(--hover-orange);
}
.product-block .product-description .product-rating #down-symbol {
  color: var(--text-blue);
  font-size: 10px;
  padding-left: 5px;
}
.product-block .product-description .product-rating span {
  color: var(--text-blue);
}
.product-block .product-description .product-rating a {
  color: var(--text-blue);
  font-size: 14px;
  padding: 0 15px;
  text-decoration: none;
}

.product-block .product-description .product-rating a:hover {
  color: var(--hover-orange);
  text-decoration: underline;
}

/* Side-bar */
.product-block .sidebar {
  border: 1px solid black;
  height: 100%;
  width: 17%;
}

/* Carousel 1 */

.carousel-4stars {
  display: grid;
  grid-template-columns: 5fr 12fr 12fr 12fr 12fr 12fr 12fr 12fr 5fr;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid whitesmoke;
  height: 350px;
  margin: 0 220px;
}

.carousel-4stars .carousel-prduct {
  border: 1px solid black;
  height: 350px;
}

.carousel-4stars .arrow-left {
  border: 0.5px solid grey;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  background: #ebedef;
  font-size: 20px;
  padding-top: 8px;
  padding-left: 12px;
}

.carousel-4stars .car1,
.carousel-4stars .car2,
.carousel-4stars .car3,
.carousel-4stars .car4,
.carousel-4stars .car5,
.carousel-4stars .car6,
.carousel-4stars .car7 {
  padding: 10px;
  height: 350px;
}

.carousel-4stars .arrow-right {
  border: 0.5px solid grey;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  margin-left: 60px;
  background: #ebedef;
  font-size: 20px;
  padding-top: 8px;
  padding-left: 15px;
}

.carousel-4stars .carousel-product a {
  font-size: 15px;
  text-decoration: none;
  color: var(--text-blue);
}

.carousel-4stars .carousel-product a:hover {
  text-decoration: underline;
  color: var(--hover-orange);
}

.carousel-4stars .carousel-product .car-rate {
  padding-top: 5px;
  font-size: 15px;
  text-align: left;
  color: var(--text-blue);
}

.carousel-4stars .carousel-product .car-item-price {
  color: #b12704;
  padding: 3px;
}
.carousel-related {
  /* border: 1px solid grey; */
  height: 350px;
  margin: 0 220px;
}
